.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
}

.ingredient-group {
    width: 35%;
}

button {
    margin-top: 10px;
}

.validationError {
    color: red;
}
